*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(59, 59, 71);
}

.sign-in{
    width: 430px;
    height: 360px;
    background-color: #fff;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.language,
.social-in{
    display: flex;
    justify-content: space-between;
}

.eng{
    color: rgb(0, 0, 255);
    padding: 0.7rem 3.75rem;
    background-color: #fff;
    border: 1px solid #ddd4d4;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

.haus{
    color: rgb(86,97,104);
    padding: 0.7rem 3.75rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;    
}

.sign{
    font-size: 0.86rem;
    font-weight: 700;
    color: rgb(70,75,79);
    padding: 1.25rem 0rem;
}

.social-in a{
    text-decoration: none;
}


.goog{
    padding: 0.7rem 0rem;
    padding-left: 0.25rem;
    padding-right: 2.8rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.1rem;
    color: #000;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #e7e1e1;
    border-radius: 5px;
}

.goog:hover{
    background-color: rgb(237, 237, 255)
}

.goog img{
    width: 1.7rem;
}

.fb{
    padding: 0.7rem 0rem;
    padding-left: 0.7rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: rgb(59,89,152);
    border: none;
    border-radius: 5px;   
    color: #fff; 
    cursor: pointer;
}

.fb:hover{
    background-color: rgb(8, 32, 85);
}

.fb img{
    width: 0.9rem;
    filter: brightness(0) invert(1);
}

.get-reg{
    background-color: rgb(0, 0, 255);
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin: 0.85rem 0rem;
}

.get-reg a{
    text-decoration: none;
    color: #fff;
}

.get-reg:hover{
    background-color: rgb(31, 31, 129);
}

.reg{
    font-size: 0.9rem;
    text-align: center;
}

.reg a{
    text-decoration: none;
    color: rgb(0, 0, 255); 
    font-weight: 700;
}

.cont{
    font-size: 0.88rem;
    text-align: center;    
    padding-top: 1.4rem;
    color: rgb(150, 169, 185);
}

.collapse{
    position: absolute;
    background-color: #fff;
    border: none;
    font-size: 1.4rem;
    color: rgb(215, 217, 219);   
    right: 10px; 
    top: 10px;
    cursor: pointer;
}


